<div class='container'>
  <div class='row' style='margin-top:25px'>
    <div class='col'></div>
    <div class='col'>
      <h3>Edit Gantt Chart: <%= @gantt_chart.name %></h3>
      <%= render 'form' %>
    </div>
    <div class='col'></div>
  </div>
</div>
