<div class='container'>

  <div class='row' style='margin-top:25px'>
    <div class='col'>
      <h3>Welcome to Gantty</h3>
      <p>Make awesome gantt charts for free.</p>
    </div>
  </div>

  <div class='row'>
    <div class='col'>
      <h3>How To:</h3>
      <ol>
        <li>Click "New Chart" in the top right</li>
        <li>Enter a project name, and a start / end date</li>
      </ol>
    </div>
  </div>
  
  <div class='row'>
    <div class='col'>
      <h5>Current Limitiations</h5>
      <ul>
        <li>Projects can be no longer than 7 days</li>
        <li>Projects must be at least 1 day</li>
        <li>Tasks must be at least one hour long</li>
        <li>Tasks can only be in multiples of 1 hour increments</li>
      </ul>
    </div>
  </div>
</div>
